<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <!-- Khai báo sử dụng handler iisnode để chạy file server.js -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>

    <rewrite>
      <rules>
        <!-- Ưu tiên trả về các file tĩnh trong thư mục /public -->
        <rule name="StaticContent" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{DOCUMENT_ROOT}/public/{R:0}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="public/{R:0}" />
        </rule>

        <!-- Mọi file tĩnh và request khác (nếu không phải là file tĩnh có thực) đều được đẩy vào cho Next.js server.js xử lý -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>

    <!-- Hỗ trợ hiển thị đúng HTTP error code của Next.js thay vì bị ghi đè bởi iis -->
    <httpErrors existingResponse="PassThrough" />
    
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
